<!DOCTYPE html>
<html>
    <head>

    </head>
    <body style="background-color: rgb(167, 213, 213);">
        <table>
        <tr>
            <th Style="background-color: blue">Sub1</th>
            <th>Sub2</th>
            <th>Sub3</th>
        </tr>
        <tr>
            <td>Oranges</td>
            <td>1</td>
            <td>2</td>

        </tr>
        <tr>
            <td>Berry</td>
            <td>1</td>
            <td>2</td>
        </tr>
    <img src=""    
    </table>    
</body>